.myBody{
    padding: none;
    margin:0;
    background: #F4F4F4;
}

.HeadText{
    padding-top: 10%;
    padding-left: 30%;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;

    display: flex;
    letter-spacing: 0.01em;

    color: #000000;
}


.ClassDiv{
    margin-top: 2%;
    margin-left: 35%;
    padding-left:13%;
    width: 15%;
    border-radius: 0.4vw;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    background: #ffffff;
}

.ClassBtn{
    border:none;
    margin-top: 2%;
    margin-left: 35%;
    padding-left:14%;
    padding-right: 13%;
    border-radius: 0.4vw;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    background: #ffffff;
}

.ClassBtn:hover{
    background: #ebebeb;
}
.ClassBtn:active{
    background: #6e6e6e; 
}