.myBody{
    display: flex;
    align-items:center; 
    justify-content:center;
    padding: none;
    margin:0;
    background: #F4F4F4;
}

.CenterDiv{
    padding-top:5vw;
    display: flex;
    align-items:center; 
    justify-content:center;
}
.HeadText{

    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;

    display: flex;
    letter-spacing: 0.01em;

    color: #000000;
}


.ClassDiv{
    margin-top: 1vw;
    width: 30vw;
    border-radius: 0.4vw;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;

    display: flex;
    justify-content:center;

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    background: #ffffff;
}

.ClassBtn{
    width: 100%;
    border:none;
    margin-top: 1vw;
    border-radius: 0.4vw;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    letter-spacing: 0.01em;
    background: #ffffff;
}

.ClassBtn:hover{
    background: #ebebeb;
}
.ClassBtn:active{
    background: #6e6e6e; 
}