.OutlineDiv{
    margin:5vw;
    border: solid 1px #414141;
    border-radius: 0.5vw;
    display: flex;
    flex-wrap:wrap;
    gap:1vw;
}
.myText{
    width: 22vw;
    padding-left:3vw;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 3vw;
    letter-spacing: 0.01em;

    color: #000000;
}
.AddButton{
    margin-left:10vw;
    width:15vw;

    margin-top: 2vw;
    margin-bottom: 2vw;
    border:none;
    background: #579AFF;
    border-radius: 0.4vw; 
    color:white;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 2vw;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

}

.StText{
    padding-left:10vw;
    font-family: 'Sora', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 2vw;
    letter-spacing: 0.01em;

    color: #000000;
}

.OutlineButton{

    background:#F4F4F4;
    margin:5vw;
    margin-right: 5vw;
    border: solid 1px #414141;
    border-radius: 0.5vw;
    width: 90%;
    display: flex;
}

.myBody{
    padding: none;
    margin:0;
    background: #F4F4F4;
}